{
  "bots/bq": {
    "IRC_HOST": "irc.dot.org.es",
    "IRC_PORT": "6667",
    "NICK": "_bqbot",
    "PASSWORD": "",
    "CHANNELS": "[\"#bots\"]",
    "SERVICE_ACCOUNT_BASE64_JSON": "ewogI........."
  },
  "bots/cai-bot": {
    "IRC_HOST": "irc.dot.org.es",
    "IRC_PORT": "6667",
    "NICK": "kenough",
    "PASSWORD": "",
    "CHANNELS": "[\"#romanian\"]",
    "CHAR": "",
    "CHAT_ID": "",
    "POP3_SERVER": "",
    "EMAIL_ADDRESS": ""
  },
  "bots/g4firc": {
    "NICK": "_gptbot",
    "SERVER": "irc.dot.org.es",
    "PORT": "6667",
    "SSL": "False",
    "CHANNELS": "[\"#bots\", \"#romanian\"]",
    "DATABASE": "gptbot.db",
    "MAX_CHATS_PER_USER": "4"
  }
}
