python-dotenv==1.1.1
async_lru==2.0.5
re-ircbot==2.0.16.dev0
requests==2.32.5
# re-ircbot @ git+https://github.com/matheusfillipe/ircbot.git@526d72fa2cdee54c6195198c63705f30afba25ab
trio-asyncio==0.15.0
tls-client==1.0.1
websockets==15.0.1
beautifulsoup4==4.13.4
pygments==2.19.2
PyCharacterAI==2.2.49
